body{
    background: black;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    overflow: hidden;
    
}

.login-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index:0;
    position: relative;

}

h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 43px;
    font-weight: 600;
}

#intro{
    width: 500px;
}


#login-button{
    background: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    margin: 10;
    overflow: hidden;
    padding: 13px 60px;
    text-align: center;
    text-transform: uppercase;

    font-size: 13px;  
    font-family: 'Space Grotesk', sans-serif;
    border: 0 none;
    border: 2px solid white;
    border-radius: 60px ;
}

#login-button:hover{
    z-index: 1;
    background:#1f1f1f;  
}

canvas{
    z-index: 0;
}

/* side panel */

.panel {
    position: fixed;
    z-index: 9999;
    top: 0;
    height: 100%;
    width: 350px;

}

.spotify-embed{
    display: inline-block;
    overflow: hidden;
    padding: 20px;
}

.bttn{
    display: inline-block;
    float: right;
    cursor: pointer;
    /* position:absolute; */
    z-index:0;
    padding-top: 20px;
}